section.main-content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
}

app-day {
  display: flex;
  background-color: $light-green;
  color: $white;
  border-radius: 1rem;
  font-size: 2.5rem;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;

  &:hover {
    box-shadow: 0 5px 10px transparentize($black, 0.8);
  }
}
